<div id="header_outer_wrapper">
    <div id="header_outer_container">
        <div id="header_inner_container">
            <div id="header_mobile_menu_cell" data-effect="mobile-menu-animation">
                <div id="mobile_menu_button">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div id="header_logo_cell">
                <a href="{{ path('pineipol_baa_homepage') }}">
                    <img id="header_logo_img" src="{{ asset('bundles/pineipolbaa/images/logo.png') }}" />
                </a>
            </div>
            <div id="header_menu_cell">
                <div id="header_menu_container">
                    <a href="{{ path('pineipol_baa_homepage') }}">
                        <div class="header_menu_item">
                            <div class="header_menu_item_label">home</div>
                            <div class="header_menu_item_strip"></div>
                        </div>
                    </a>
                    {% for menu in menus %}
                        <a href="{{ path(menu.route) }}">
                            <div class="header_menu_item">
                                <div class="header_menu_item_label">{{ menu.title }}</div>
                                <div class="header_menu_item_strip"></div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
