<div class="links-title-box">
    {% trans %}pages.right-column.title{% endtrans %}
</div>
<div id="links-container">
    {% for link in links %}
        <a class="link"
           href="{{ link.targetUrl }}"
           title="{{ link.description }}"
           {% if link.openBlank %}target="_blank"{% endif %}>{{ link.title }}</a>
    {% endfor %}
</div>
<br><br>
<div class="links-title-box">
    {% trans %}pages.right-column.certifications.title{% endtrans %}
</div>
<div id="badges-container">
    <div class="badge">
        <div class="title">
            Certified Scrum Master
        </div>
        <div class="image-container">
            <img alt="Certified Scrum Master" src="{{ asset('/bundles/pineipolbaa/images/badges/professional_scrum_master_one.png') }}">
        </div>
    </div>
    <div class="badge">
        <div class="title">
            Sun Certified Java Programmer
        </div>
        <div class="image-container">
            <img alt="Sun Certified Java Programmer" src="{{ asset('/bundles/pineipolbaa/images/badges/sun_certified_programmer.gif') }}">
        </div>
    </div>
</div>