<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <title>{% block title %}Becoming An Agile Architect{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pineipolbaa/css/styles.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pineipolbaa/vendor/css/normalize.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pineipolbaa/vendor/css/component.css') }}" />
        <script src="{{ asset('bundles/pineipolbaa/vendor/js/modernizr.custom.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="body-container" class="body-container">

            <!-- mobile menu container -->
            <div class="mobile-menu mobile-menu-animation" id="mobile-menu">
                {# Mobile menu #}
                {{ render(controller('PineipolBaaBundle:Layout:mobileMenu')) }}
            </div>

            <!-- content push wrapper -->
            <div class="body-pusher">
                <div class="body-content"><!-- this is the wrapper for the content -->
                    <div class="body-content-inner"><!-- extra div for emulating position:fixed of the menu -->

                        {# Header #}
                        {{ render(controller('PineipolBaaBundle:Layout:header')) }}

                        {# Middle content #}
                        <div id="middle_outer_container">
                            <div id="inner_container">
                                <div id="left-column_container">
                                    {% block body %}{% endblock %}
                                </div
                                ><div id="right-column_container">
                                    {{ render(controller('PineipolBaaBundle:Default:rightColumn')) }}
                                </div>
                            </div>
                        </div>

                        {# Footer #}
                        {{ include('PineipolBaaBundle:Layout:footer.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('bundles/pineipolbaa/vendor/js/classie.js') }}"></script>
        <script src="{{ asset('bundles/pineipolbaa/vendor/js/sidebarEffects.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60780686-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>