{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}

    {% for postContent in posts %}
        <div class="post-container">
            <div class="left-column">
                <h2><a href="{{ path(postContent.route.name) }}">{{ postContent.title|raw }}</a></h2>
                <div class="mobile-published-on">{{ postContent.post.created|localizeddate('long', 'none', app.request.locale) }}</div>
                <div class="image-container">
                    <a href="{{ path(postContent.route.name) }}">
                        <img class="post-image" src="{{ asset(postContent.image) }}">
                    </a>
                    <div class="tags-container">
                        {% for category in postContent.post.categories %}
                            <a href="{{ path(category.contents[0].route.name) }}">
                                <div class="one-tag-container">
                                    <div class="{{ category.color }}-tag">{{ category.contents[0].title }}</div>
                                    <div class="tag-triangle"></div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div
            ><div class="right-column">
                <h2><a href="{{ path(postContent.route.name) }}">{{ postContent.title|raw }}</a></h2>
                <div class="published-on">{{ postContent.post.created|localizeddate('long', 'none', app.request.locale) }}</div>
                <div class="description">{{ postContent.description|raw }}</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}