{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block body %}
    <div id="post-container">
        <div class="title">{{ postContent.title|raw }}</div>
        <div class="published-on">{{ postContent.post.created|localizeddate('long', 'none', app.request.locale) }}</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset(postContent.image) }}" title="{{ postContent.imageAlt }}">
            {#{% if postContent.imageOrigin not null %}#}
                <div class="post-image-origin">{{ postContent.imageOrigin }}</div>
            {#{% endif %}#}
            <div class="tags-container">
                {% for category in postContent.post.categories %}
                    <a href="{{ path(category.contents[0].route.name) }}">
                        <div class="one-tag-container">
                            <div class="{{ category.color }}-tag">{{ category.contents[0].title|raw }}</div>
                            <div class="tag-triangle"></div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="content">{{ postContent.content|raw }}</div>
    </div>
{% endblock %}