{% extends 'PineipolBaaBundle:Layout:home.html.twig' %}

{% block metatags %}
    <meta name="title" content="{{ postContent.metaTitle }}">
    <meta name="description" content="{{ postContent.metaDescription }}">
    <meta name="keywords" content="{{ postContent.metaKeywords }}">
{% endblock %}

{% block title %}{{ postContent.title|raw }} - Becoming An Agile Architect{% endblock %}

{% block body %}
    <div id="post-container">
        <h1>{{ postContent.title|raw }}</h1>
        <div class="published-on">{{ postContent.post.created|localizeddate('long', 'none', app.request.locale) }}</div>
        <div class="image-container">
            <img class="post-image" src="{{ asset(postContent.image) }}" title="{{ postContent.imageAlt }}">
            {% if postContent.imageOrigin %}
                <div class="post-image-origin">{{ postContent.imageOrigin }}</div>
            {% endif %}
            <div class="tags-container">
                {% for category in postContent.post.categories %}
                    <a href="{{ path(category.contents[0].route.name) }}">
                        <div class="one-tag-container">
                            <div class="{{ category.color }}-tag">{{ category.contents[0].title|raw }}</div>
                            <div class="tag-triangle"></div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="content">{{ postContent.content|raw }}</div>
    </div>
{% endblock %}